.header {
  width: 100%;
  height: fit-content;
}

.header_top {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 40%;
  height: fit-content;
  display: flex;
  justify-content: center;
}
.logo img {
  width: 200px;
  height: 225px;
}

.search {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.input_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  border-radius: 24px;
}

.search_city-text {
  width: 80%;
  background-color: transparent;
  border: none;
  margin-left: 12px;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  height: 34px;
  font-size: 16px;
}

.input_box span {
  border-left: 1px solid #dadce0;
  height: 65%;
}

.search_city-submit {
  height: 24px;
  width: 24px;
  margin-right: 12px;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}
.search_city-submit path {
  fill: #4285f4;
}

/* ///////// */

.header_bottom {
  margin: 40px 0 10px 10px;
  color: #777;
  font-size: 24px;
  font-weight: normal;
}
.header_bottom p {
  margin-bottom: 0;
}
.header_bottom p strong {
  color: black;
}

/* ////WeatherTable//// */
.weather-table {
  height: fit-content;
  min-height: 400px;
  width: 100%;
}

/* /////TabsDays///// */
.tabs_days {
  height: 40%;
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.tab_day {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  width: 120px;
  padding: 10px 5px 5px 5px;
  border-radius: 10px;
  border: 1px solid rgba(200, 200, 200, 0.62);
  cursor: pointer;
}
.tab_day:last-child {
  margin-right: 0;
}

.tab_day.active {
  box-shadow: 0 -3px 8px rgb(64 60 67 / 50%);
  background-color: #f2f2f2;
  z-index: 1;
  border-bottom-style: none;
  font-weight: bold;
}

.day_name {
  margin-top: 10px;
}
.date {
  margin: 5px 0;
  font-weight: bold;
  font-size: 24px;
}
.month {
  margin-bottom: 10px;
}
.tab_day_condition_img img {
  width: 60px;
  height: 60px;
  margin-top: 5px;
}
.max-min_temperature {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.max-min_temperature span {
  border-left: 1px solid #dadce0;
  height: 50px;
  width: 0;
  margin: 0 5px;
}
.max-min_temperature div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 38px;
}
.max-min_temperature p {
  color: #9d9d9d;
  font-size: 11px;
}
.max-min_temperature h3 {
  font-size: 17px;
  color: #000;
}

/* /////// */
/* ////WeatherContent//// */
/* /////// */
.weather_content_box {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px 10px 20px 10px;
  box-shadow: 0 0 8px rgb(64 60 67 / 50%);
  border-radius: 5px;
}

.left_weather_content_box {
  width: 90px;
  padding-right: 5px;
  border-right: 1px solid rgba(200, 200, 200, 0.62);
}

.current_conditions {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 105px;

  padding-right: 5px;
  border-right: 1px solid rgba(200, 200, 200, 0.62);
}

.chosen_day_name {
  margin-top: 15px;
  font-weight: bold;
  font-size: 17px;
}
.chosen_date {
  font-weight: bold;
  font-size: 54px;
}
.chosen_month {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.current_conditions p {
  font-weight: bold;
  font-size: 14px;
  margin: 10px 0 0 5px;
  color: #777;
}
.condition_img {
  height: fit-content;
  width: fit-content;
}
.condition_img img {
  width: 80;
  height: 80px;
}
.current_temp {
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 1;
}
.sun_rise-set {
  margin-top: 5px;
}
.sun_rise-set p {
  font-size: 16px;
  color: #000;
  margin-top: 5px;
}
.sun_rise-set p span {
  font-size: 14px;
  font-weight: normal;
  color: #777;
}

.perHour_table {
  width: 100%;
  margin-left: 70px;
}

/* ////
MEDIA
//// */

@media (max-width: 790px) {
  .weather-table {
    padding-right: 15px;
  }

  .tabs_days {
    justify-content: center;
  }
}

@media (max-width: 730px) {
  .header_top {
    flex-direction: column;
  }
  .logo {
    width: fit-content;
  }
  .search {
    width: 70%;
    min-width: 300px;
    margin-top: 20px;
  }
  .header_bottom {
    margin-left: 50px;
  }

  .perHour_table {
    margin-left: 0;
  }
}

@media (max-width: 660px) {
  .weather-table {
    padding-right: 0;
    margin-bottom: 50px;
  }

  .tab_day {
    margin-right: 10px;
  }

  .weather_content_box {
    flex-direction: column;
  }
  .current_conditions {
    margin-bottom: 20px;
    border-right: none;
    border-bottom: 1px solid rgba(200, 200, 200, 0.62);
    padding-bottom: 20px;
  }
}
